body > header {
  height: 400px;
  width: 100%;
  background-color: #56a140;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f1ec;
}

body > header span {
  font-weight: 300;
}