nav {
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  padding: 0 1.5em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav > span {
  font-family: Bungee, monospace;
  font-size: 2rem;
}
.nav-quick-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-quick-tweet > a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav-quick-tweet > a > span {
  font-weight: 600;
}
.nav-quick-tweet > a > i {
  display: block;
  text-align: center;
  color: orangered;
}