nav {
	position: absolute;
	top: 0;
	width: 100%;
	color: #f4f1ec;
	padding: 0.5em 1.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

nav > span {
	font-family: Bungee, monospace;
	font-size: 2rem;
	user-select: none;
}
.nav-quick-tweet {
	width: 16ch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav-quick-tweet > a {
	color: #f4f1ec;
	text-decoration: none;
}
.nav-quick-tweet > a > span {
	font-weight: 600;
}
.nav-quick-tweet > a > i {
	display: block;
	text-align: center;
	color: #ff4500;
}

/* Desktop */
@media screen and (min-width: 960px) {
	nav {
		margin-bottom: 4rem;
		width: 100%;
		background-color: #4056a1;
	}
}

@media screen and (max-width: 550px) {
	nav {
		padding: 0;
	}

	nav > span {
		transform: scale(0.7);
	}
	
	nav > div {
		transform: scale(0.7);
	}
	
}