#timeline {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid #000000;
  padding: 0.5em;
}
.tweet:hover {
  box-shadow: 8px 8px #00000020;
}
.tweet p {
  font-weight: 600;
  padding: 1.5rem 1rem 2rem;
  margin: 0;
}
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet figure {
  display: flex;
  align-items: center;
  margin: 0;
}
.tweet header img {
  width: 5rem;
}
.tweet header p {
  font-weight: 600;
  opacity: 30%;
}
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 4px solid black;
  padding: 0.5rem 1.5rem 1rem;
  font-weight: 600;
  font-size: 0.8em;
}
.tweet footer time {
  opacity: 70%;
}
.tweet footer button {
  border: unset;
  background-color: unset;
}
.tweet footer button:hover {
  color: goldenrod;
}